body {
  background-image: url(../images/light-veneer.png);
}

.background {
  background-image: url(https://media.giphy.com/media/JTJDsiolkGoKelw6X9/giphy.gif);
  background-size: 60%;
  background-position: center, center;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  color: white;
  text-shadow: 4px 4px 4px #2f7ef7;
  font-size: 80px;
  animation-name: font;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

label {
  text-shadow: 3px 3px 3px gray;
}

.btn-space {
  margin-right: 5px;
  margin-bottom: 5px;
  font: bold;
}

#gifArrayBtns {
  background-color: transparent;
  color: #2f7ef7;
}

h2.favorites {
  text-align: center;
  color: white;
  text-shadow: 4px 4px 4px #bf1025;
}
#btns {
  padding: 10px;
  text-align: center;
}

.jumbotron,
#keyword-term {
  background-color: transparent;
}

.card-img-top {
  width: 100%;
  height: 20vh;
  object-fit: cover;
}

.card-body {
  padding: 0.5rem;
  background-image: url(../images/light-veneer.png);
}

.fa-2x {
  color: #bf1025;
}

@keyframes font {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
